@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --cor1: rgb(73,29,20);
    --cor2: (73, 29, 20, 0.103);
}

* {

}

html {
    height: 100vh;

}

body{
     background-color: var(--cor2);
     margin: auto;
}


header {
    background: white url(imagens/imagem01.png) center center no-repeat;
    background-size: cover;
    color: var(--cor1);
    height: 100vh;
    text-align: center;
    margin: auto;
    padding: 50px;
    

}

h1 {
    line-height: 95px;
    font-size: 8.5em;
    margin-bottom: 2.5px;
}

h1#primeira {
    background-image: linear-gradient(5deg, var(--cor1), rgba(255, 255, 255, 0.877));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    

h1#segunda {
    background-image: linear-gradient(190deg, var(--cor1), rgba(131, 102, 95, 0.616));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 0px;

}

header > h2 {
    font-size: 0.9em;
    margin: 20px;
}

p#crp {
    margin-top: 0px;
    margin-bottom: 0px;

}

main {
    background: var(--cor1) url(imagens/fundo-main.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    margin: auto;
    padding:30px ;
    height: 1500px;
    min-width: 566px;
    max-width: 1000px;
}

main h3 {
    font-size: 4em;
}

main p {
    font-size: 1.1em;
}

p {
    font-family: 'sora';
}

section#sobremim {
    margin: -30px;
    padding: 63px 350px 50px 100px;

}

section#trabalhos {
    text-align: center;
    margin: 30px -30px;
    padding: 0px 0px 50px 5px;
}

div.trabalho {
    background-color: rgba(255, 255, 255, 0.863);
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.349) 5px 5px 5px;
    height: 50px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
}

#bloco1 {
    padding: 10px 50px 0px 50px;
    height: 45px;
}

#bloco2{
    padding: 10px 50px 10px 50px;
}

#bloco3 {
    padding: 10px 50px 0px 50px;
    height: 45px;
}

#bloco4 {
    padding: 10px 50px 0px 50px;
    height: 27px;
}


div.trabalho p {
    color: var(--cor1);
    font-size: 0.9em;
    margin: auto;
    width: 300px;
}

div#con-loc {
    position: relative;
}

section#contato {
    color: var(--cor1);
    margin: 200px;
}

section#Localização {
    margin: 0px 25px;
    position: absolute;

    left: 550px;
    top: -65px;
}

a {
    color: var(--cor1);
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

a#Localização {
    color: white;
}

a.logos {
    color: var(--cor1);
    font-family: 'logos' ;
}

footer {
    background-color: var(--cor2T);
    color: var(--cor1);
    font-family: 'sora';
    padding: 0px 425px;
}

footer > a::after {
    content: '\00A0\1F517';section
}

footer > a:hover {
    font-size: 1em;
}

@media (max-width: 768px) {

    body {
    
    }

    p {
        font-size: 0.5em;
    }

    header {
        background: white url(imagens/imagem01.png) center center no-repeat;
        background-size: cover;
        width: 260px;
        height: 100px;
    }

    h1{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
        line-height: 34px;
    }

    h2 {
        margin: 0px;
        font-size: em;
    }

    main{
        background: var(--cor1) url(imagens/fundo-main.jpg) right center no-repeat;
        background-size: cover;
        width: 300px;
        height: 1000px;

        padding: -50px;
        margin: auto;
    }

    h3 {
        margin: 40px 0px 20px 0px;
    }

    section#sobremim {
        padding: 20px 250px 125px 50px;
        font-size: 0.6em;
    }

    section#trabalhos {
        padding: 20px;
        font-size: 0.6em;
    }

    div.trabalho {
        font-size: 1.2em;
    }

    

    a {
        font-size: 0.5em;
    }  
}