@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --cor1: hsl(10, 81%, 19%);
    --cor2: rgba(88, 41, 32, 0.259);
    --cor3: #2b0903;
}

html {

    height: 100vh;
}

body{
    margin: auto;
    height: 25px;
    padding: 0px;
}

header {
    background: white url(imagens/fundo-head.png) center center no-repeat;
    background-size: cover;
    color: var(--cor1);
    height: 95vh;
    text-align: center;
    margin: auto;
    padding: 50px;
}

h1 {
    line-height: 100px;
    margin: auto;
    font-size: 8.5em;

    background-image: linear-gradient(5deg, #2b0903,  #421007, #6e3b3be0, #2b0903);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 400%;
    }
}

h1#primeira {
    margin-top: 175px;
}

    

h1#segunda {
    font-size: 9.1em;
    margin-top: 0px;
}

header > h2 {
    font-size: 1.5em;
    margin: 20px auto;
    width: 285px;
    padding: 5px;

    
}

p#crp {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3em;
}

.background {
    background: var(--cor2) url(imagens/fundo-body.jpg) center center no-repeat;
    background-size: cover;
}

main {
    background: var(--cor1) url(imagens/fundo-main.png) center center no-repeat;
    background-size: cover;
    color: white;
    margin: auto;
    padding:30px ;
    height: 1500px;
    max-width: 1000px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
}

main h3 {
    font-size: 4em;
}

main p {
    font-size: 1.1em;
}

p {
    font-family: 'sora';
}

section#sobremim {
    margin: -30px;
    padding: 63px 350px 50px 100px;
}


section#trabalhos {
    text-align: center;
    margin: 30px -30px;
    padding: 0px 0px 50px 5px;
}

div.trabalho {
    background-color: rgba(255, 255, 255, 0.863);
    margin: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.349) 5px 5px 5px;
    height: 50px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
}

#bloco1 {
    padding: 10px 50px 0px 50px;
    height: 45px;
}

#bloco2{
    padding: 10px 50px 10px 50px;
}

#bloco3 {
    padding: 10px 50px 0px 50px;
    height: 45px;
}

#bloco4 {
    padding: 10px 50px 0px 50px;
    height: 27px;
}

div.trabalho p {
    color: var(--cor1);
    font-size: 0.9em;
    margin: auto;
    width: 300px;
}

div#con-loc {
    position: relative;
}

img.logos {
    margin: -51px -37px;
}

div.links:hover {
    img.logos {
        border: 2px solid transparent;
        border-radius: 50%;
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    }
    a {
            text-decoration: underline;
            transform: translate(-3px, -3px);
    }
}

img#localização {
    width: 50px;
    margin: -80px -50px
}

section#contato h3 {
    margin: 0px 0px 0px 20px;
}

section#contato {
    color: var(--cor1);
    margin: 170px 510px 170px 200px;
}

section#Localização h3 {
    margin: 0px 0px 0px -20px;
}

section#Localização {
    margin: 0px 25px;
    position: absolute;

    left: 550px;
    top: 0px;
}

a {
    color: var(--cor1);
    text-decoration: none;
    font-size: 1em;
}

a#Localização {
    color: white;
}

footer {
    background-color: var(--cor1);
    color: white;
    font-family: 'sora';
    padding: 0px 425px;
}

footer a {
    color: white;
}

footer > a::after {
    content: '\00A0\1F517';section
}

footer > a:hover {
    font-size: 1em;
    font-style: underline;
}

@media only screen and (max-width: 1040px) {

    main {
        height: 1585px;
    }

    div#con-loc {
        margin: 0px 0px 0px -55px;
    }

    footer {
        width: 492px;
        margin: auto;
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 873px) {

    body {
        background-color: var(--cor2);
        background-size: cover;
        width: auto;
    }

    header {
        background: url(imagens/fundo-head-cll.png) center center no-repeat;
        background-size: cover;
        padding: 0.5em;
        height: 450px;
        width: 385px;
        margin: auto;
    }
    
    h1 {
        font-size: 5em;
        padding: 0px;
        margin: -10px 0px;
        line-height: 57px;
    }

    h1#primeira {
        margin-top: 120px ;
        margin-bottom: 0px;
    }

    h1#segunda {
        font-size: 5.3em;
        margin-top: 6px;
    }

    header h2 {
        font-size: 1em;
        width: 190px;
    }

    p#crp {
        font-size: 1em;
    }
    
    .background {
        background-image: none;
    }

    main {
        background: url(imagens/fundo-main-cll.png) center right no-repeat;
        background-size: cover;
        height: 2500px;
        width: 337px;
        padding: 2em;
        margin: auto;
    }

    section#sobremim {
        padding: 90px 120px 420px 50px;
        font-size: 0.9em;
    }

    section#sobremim h3{
        font-size: 2em;
    }
    
    section#trabalhos h3 {
        font-size: 2.2em;
    }

    div.trabalho {
        width: 50px;
        font-size: 0.8em;
    }

    .trabalho p {
        padding: 0px ;
        width: -50px;
    }

    #bloco1 {
        padding: 10px 35px 0px 20px;
        height: 35px;
    }
    
    #bloco2{
        padding: 10px 35px 25px 20px;
        height: 25px;
    }
    
    #bloco3 {
        padding: 10px 35px 0px 20px;
        height: 35px;
    }
    
    #bloco4 {
        padding: 10px 35px 0px 20px;
        height: 20px;
    }

    div.con-loc {
        width: 500px;
        height: 500px;
        margin: 0px 50px 0px 0px;
        font-size: 0.8em;
    }

    a {
    font-size: 0.8em;
    }

    section#contato {
        margin: 210px 0px 0px 120px;
    }

    section#contato h3 {
        font-size: 3.7em;
        margin: 0px;
    }

    section#contato a {
        font-size: 1em;
    }

    section#Localização {
        margin: 585px 0px -50px -454px;
    }

    section#Localização h3 {
        font-size: 3.7em;
        margin-left: -35px;
    }

    section#Localização a {
        height: 20px;
        font-size: 1.2em;
    }

    img#localização {
        margin: -90px -50px
    }

    footer {
        background-color: var(--cor2);
        color: var(--cor1);
        padding: 0px 2px 0px 3px;
        font-size: 0.8em;
        width: 396px;
    }

    footer a {
        color:var(--cor3);
        font-size: 1em;
    }

}